{% extends "dayplanner/base.html" %}

{% block title %} Yelp Search {% endblock %}

{% block body %}


<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        {% include 'dayplanner/_navbar.html' %}
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <div class="box">
                    <p>Welcome to DayPlanner, {{ username }}!</p>
                    <form action="" method ="post">{% csrf_token %}

                        <div class="control">

                            <input type="text"
                            placeholder="Name your new Day..."
                            name="day_name"
                            required>  

                        </div>              

                        <div>

                            <button type="submit" class="button is-success">
                                New Day
                            </button>

                        </div>

                    </form>
                </div>
          </div>

          <div class="box">
                <table class="table">
                    <tr class="has-text-centered">
                        <th>Pk</th>
                        <th>Name</th>
                        <th>Creator</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                    {% for day in userDayList %}
                    <tr class="has-text-centered">
                        <td>
                            {{day.id}}
                        </td>
                        <td>
                            {{day.name}}
                        </td>
                        <td>
                            {{day.creator}}
                        </td>
                        <td>
                            <a href="/creation/edit/{{ day.id }}" class="button is-primary"> Go to Day...</a>
                        </td>
                        <td>
                            <a href="/creation/delete_day?day_id={{ day.id }}" class="button is-danger"> To the Void!</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
          </div>

        </div>

    </div>
</section>


{% endblock %}